[submodule "Particle-NeoPixel"]
	path = Particle-NeoPixel
	url = https://github.com/technobly/Particle-NeoPixel.git
[submodule "Adafruit_NeoPixel"]
	path = Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
