[submodule "PT1K_RTD_Example"]
	path = PT1K_RTD_Example
	url = https://github.com/FirstBuild/PT1K_RTD_Example.git
[submodule "Particle-NeoPixel"]
	path = Particle-NeoPixel
	url = https://github.com/technobly/Particle-NeoPixel.git
